@model Model.EF.SEED

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <h4>GIỐNG CÂY TRỒNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nông sản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.Name_Product)
        </dd>

        <dt>
            Tên giống cây
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Seed)
        </dd>

        <dt>
            Mã giống
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code_Seed)
        </dd>

        <dt></dt>

        <dd>
            <input type="button" value="Chỉnh sửa" class="mu-readmore-btn" onclick="location.href = '@Url.Action("Edit","Seed", new { id = Model.Id_Seed })'" />
            <button type="button" onclick="history.go(-1)" class="mu-readmore-btn">Quay Về</button>
        </dd>

    </dl>
</div>
