@model Model.EF.PRODUCT

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <h4>NÔNG SẢN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại nông sản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_KIND.Name_ProductKind)
        </dd>

        <dt>
            Tên nông sản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Product)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Model.Image_Product"/>
        </dd>

        <dd>
            <button type="button" onclick="location.href = '@Url.Action("Edit","Product", new { id = Model.Id_Product })'" class="mu-readmore-btn">Chỉnh Sửa</button>
            <button type="button" onclick="history.go(-1)" class="mu-readmore-btn">Quay Về</button>
        </dd>

    </dl>
</div>


